/* assets/style.css */

/* Custom scrollbar to match the high-end retail aesthetic (For vertical scrolling) */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #FFFFFF; 
}

::-webkit-scrollbar-thumb {
    background: #1A1A1A; 
}

::-webkit-scrollbar-thumb:hover {
    background: #FF99C8; /* Switched to pink for the hover! */
}

/* Base selection color */
::selection {
    background-color: #FF99C8;
    color: #1A1A1A;
}

/* Ensure images don't act as draggable elements during casual browsing */
img {
    pointer-events: none;
}

/* Hide scrollbar for horizontal carousels (Nike style) */
.hide-scrollbar::-webkit-scrollbar {
    display: none;
}
.hide-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}